<app-auth-form
  [authTitle]="'AUTH.login' | transloco"
  [authForm]="loginForm"
  (submitForm)="onSubmit()"
>
  <app-input
    [control]="loginForm.controls.email"
    [type]="'email'"
    [placeholder]="'AUTH.email' | transloco"
    [error]="submitted && loginForm.controls.email.invalid"
  />

  <div class="relative">
    <app-input
      [control]="loginForm.controls.password"
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="'AUTH.password' | transloco"
      [error]="submitted && loginForm.controls.password.invalid"
    />

    <app-password-toggle (showPasswordChange)="showPassword = $event" />
  </div>

  @if (formError()) {
    <app-error-message>
      {{ formError() | transloco }}
    </app-error-message>
  }

  <div class="text-right text-sm text-neutral-900">
    <a routerLink="../reset-password">{{
      "AUTH.reset_password" | transloco
    }}</a>
  </div>

  <button
    type="submit"
    class="flex max-h-[44px] items-center justify-center rounded-2xl bg-yellow-400 px-5 py-2.5 text-base font-semibold text-neutral-900"
    [ngClass]="loading() ? 'animate-pulse' : ''"
    [disabled]="loading()"
  >
    @if (!loading()) {
      {{ "AUTH.submit" | transloco }}
    } @else {
      <app-spinner
        [size]="28"
        [textColor]="'text-white'"
        [fillColor]="'fill-orange-500'"
      />
    }
  </button>

  <a
    routerLink="../register"
    class="text-center text-sm font-normal text-neutral-400"
  >
    {{ "AUTH.no_account" | transloco }}
    <span class="text-orange-500">
      {{ "AUTH.register" | transloco }}
    </span>
  </a>
</app-auth-form>
