<div class="space-y-6 p-4 px-5 sm:space-y-12 sm:p-8">
  <div class="space-y-6">
    <button
      type="button"
      class="flex items-center gap-2 text-neutral-800"
      (click)="location.back()"
    >
      <img src="/icons/profile/arrow-left.svg" />
      უკან დაბრუნება
    </button>
    <h1 class="text-xl font-bold sm:text-3xl">ორგანიზაციის დამატება</h1>
  </div>

  <form
    class="space-y-6 [&>*:last-child]:gap-3 [&>*]:flex [&>*]:flex-col [&>*]:gap-5 [&>*]:sm:flex-row [&>*]:sm:gap-14"
  >
    <div>
      <h1 class="w-80 text-base font-semibold sm:text-lg">ორგანიზაციის ლოგო</h1>

      <div class="flex items-center gap-4">
        <img
          src="/icons/profile/upload-circle.svg"
          class="w-[54px] sm:w-auto"
        />
        <div>
          <h1 class="text-base sm:text-lg">ატვირთვა</h1>
          <p class="subtext space-y-0.5 text-sm">
            PNG ან JPG (მაქს. 800x400px)
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div>
      <div>
        <h1 class="w-80 text-base font-semibold sm:text-lg">
          საიდენტიფიკაციო კოდი
        </h1>
        <p class="subtext text-sm">თქვენი ორგანიზაციის იდენთიფიკატორი</p>
      </div>

      <div class="sm:w-[512px]">
        <app-input placeholder="მაგ. 98313476" />
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div>
      <h1 class="w-80 text-base font-semibold sm:text-lg">მისამართი</h1>

      <div class="sm:w-[512px]">
        <app-input placeholder="მაგ. ჭავჭავაძის 5" />
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div>
      <h1 class="w-80 text-base font-semibold sm:text-lg">
        ორგანიზაციის დასახელება
      </h1>

      <div class="flex gap-3 sm:w-[512px]">
        <app-combobox
          class="w-20"
          [items]="orgTypes"
          [selectedValue]="'LLC'"
          [searchPlaceholder]="'...'"
          [customClass]="
            'rounded-2xl border bg-white px-3.5 py-2.5 w-20 pr-2.5 text-sm sm:text-base font-normal text-neutral-400'
          "
        />
        <app-input placeholder="მაგ. Zoomart" class="w-full" />
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div>
      <h1 class="w-80 text-base font-semibold sm:text-lg">ელ. ფოსტა</h1>

      <div class="sm:w-[512px]">
        <app-input placeholder="მაგ. youremail@gmail.com" />
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div>
      <h1 class="w-80 text-base font-semibold sm:text-lg">მობილურის ნომერი</h1>

      <div class="sm:w-[512px]">
        <app-combobox
          class="absolute w-[90px] sm:w-[100px]"
          [customClass]="
            'rounded-r-none min-h-[44px] rounded-2xl border bg-white pl-3 pr-1.5 py-2.5 text-sm font-normal text-neutral-400 sm:text-base border-r-0'
          "
          [items]="phoneCodes"
          [selectedValue]="'995'"
          [searchPlaceholder]="'...'"
        />

        <div
          class="relative ml-auto w-[calc(100%-90px)] sm:w-[calc(100%-100px)]"
        >
          <app-input
            [customClass]="'rounded-l-none'"
            type="number"
            [placeholder]="'AUTH.phone' | translate"
          />
        </div>
      </div>
    </div>

    <div class="-mx-8 h-px bg-neutral-100"></div>

    <div class="text-sm sm:text-base">
      <button
        type="button"
        class="flex h-[44px] items-center justify-center rounded-2xl bg-yellow-400 px-[18px] py-2.5 font-bold"
      >
        დამატება
      </button>
      <button
        type="button"
        class="flex h-[44px] items-center justify-center rounded-2xl border border-neutral-200 px-[18px] py-2.5 font-bold"
      >
        გაუქმება
      </button>
    </div>
  </form>
</div>
