<app-auth-form
  [authTitle]="'AUTH.register' | translate"
  [authForm]="registerForm"
  (submitForm)="onSubmit()"
>
  <div class="flex justify-between gap-4">
    <app-input
      class="w-full"
      [control]="registerForm.controls.name"
      [type]="'text'"
      [placeholder]="'AUTH.name' | translate"
      [error]="submitted && registerForm.controls.name.invalid"
    />

    <app-input
      class="w-full"
      [control]="registerForm.controls.surname"
      [type]="'text'"
      [placeholder]="'AUTH.surname' | translate"
      [error]="submitted && registerForm.controls.surname.invalid"
    />
  </div>

  <div class="relative">
    <app-input
      [control]="registerForm.controls.email"
      [type]="'text'"
      [placeholder]="'AUTH.email' | translate"
      [error]="submitted && registerForm.controls.email.invalid"
    />

    <app-get-code
      class="absolute right-1.5 top-1/2 -translate-y-1/2"
    ></app-get-code>
  </div>

  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <app-combobox
      class="w-full sm:w-[128px]"
      [items]="phoneCodes"
      [selectedValue]="'995'"
      [searchPlaceholder]="'...'"
      [notFoundText]="'COMBOBOX.not_found' | translate"
    ></app-combobox>

    <div class="relative w-full">
      <app-input
        [control]="registerForm.controls.phone"
        [type]="'text'"
        [placeholder]="'AUTH.phone' | translate"
        [error]="submitted && registerForm.controls.phone.invalid"
      />

      <app-get-code
        class="absolute right-1.5 top-1/2 -translate-y-1/2"
      ></app-get-code>
    </div>
  </div>

  <div class="space-y-3">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <div class="relative w-full">
        <app-input
          [control]="registerForm.controls.password"
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="'AUTH.password' | translate"
          [error]="submitted && registerForm.controls.password.invalid"
        />

        <app-password-toggle (showPasswordChange)="showPassword = $event" />
      </div>
      <div class="relative w-full">
        <app-input
          [control]="registerForm.controls.repeatPassword"
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="'AUTH.repeat_password' | translate"
          [error]="
            submitted &&
            (registerForm.controls.repeatPassword.invalid ||
              registerForm.hasError('passwordMismatch'))
          "
        />

        <app-password-toggle (showPasswordChange)="showPassword = $event" />
      </div>
    </div>

    <p
      class="flex items-center gap-2 text-xs font-normal text-neutral-500 sm:text-sm"
    >
      @if (
        registerForm.controls.password.value &&
        registerForm.controls.password.value.length >= 6
      ) {
        <img src="/icons/circleCheckGreen.svg" width="18" height="18" />
      } @else {
        <img src="/icons/circleCheck.svg" width="18" height="18" />
      }

      {{ "AUTH.password_requirement" | translate }}
    </p>
  </div>

  <div class="flex items-center gap-2">
    <div
      class="flex h-5 w-5 cursor-pointer items-center justify-center rounded-md border border-neutral-200"
      [ngClass]="termsChecked ? 'border-none bg-lime-400' : ''"
      (click)="termsChecked = !termsChecked"
    >
      @if (termsChecked) {
        <img src="/icons/circleCheckGreen.svg" width="18" height="18" />
      }
    </div>

    <p class="text-sm font-normal text-neutral-500 sm:text-base">
      {{ "AUTH.agree" | translate }}
      <a routerLink="/terms" class="text-neutral-900 underline">{{
        "AUTH.terms" | translate
      }}</a>
    </p>
  </div>

  <button
    type="submit"
    class="flex max-h-[44px] items-center justify-center rounded-2xl bg-yellow-400 px-5 py-2.5 text-base font-semibold text-neutral-900"
    [ngClass]="loading() ? 'animate-pulse' : ''"
    [disabled]="loading()"
  >
    @if (!loading()) {
      {{ "AUTH.submit" | translate }}
    } @else {
      <app-spinner
        [size]="28"
        [textColor]="'text-white'"
        [fillColor]="'fill-orange-500'"
      />
    }
  </button>

  <a
    routerLink="../login"
    class="text-center text-sm font-normal text-neutral-400"
  >
    {{ "AUTH.have_account" | translate }}
    <span class="text-orange-500">
      {{ "AUTH.login" | translate }}
    </span>
  </a>
</app-auth-form>
