@if (!success) {
  <app-auth-form
    [authTitle]="'AUTH.register' | transloco"
    [authForm]="registerForm"
    (submitForm)="onSubmit()"
  >
    <div class="flex justify-between gap-4">
      <app-input
        class="w-full"
        [control]="registerForm.controls.name"
        type="text"
        [placeholder]="'AUTH.name' | transloco"
        [error]="submitted && registerForm.controls.name.invalid"
      />

      <app-input
        class="w-full"
        [control]="registerForm.controls.surname"
        type="text"
        [placeholder]="'AUTH.surname' | transloco"
        [error]="submitted && registerForm.controls.surname.invalid"
      />
    </div>

    <div class="relative">
      <app-input
        [control]="registerForm.controls.email"
        type="email"
        [placeholder]="'AUTH.email' | transloco"
        [error]="
          (submitted && registerForm.controls.email.invalid) ||
          codeError().includes('invalid_email')
        "
      />

      <app-get-code
        class="absolute right-1.5 top-1/2 -translate-y-1/2"
        type="email"
        [value]="registerForm.controls.email.value!"
        (showInputChange)="showInput = $event"
        (error)="codeError.set($event)"
        [verified]="emailVerified"
      />
    </div>

    @if (showInput && !codeError().includes("invalid_email")) {
      <div class="relative">
        <app-input
          [control]="registerForm.controls.email_code"
          type="number"
          [placeholder]="'AUTH.email_code' | transloco"
          [error]="
            (submitted && registerForm.controls.email_code.invalid) ||
            codeError().includes('invalid_code')
          "
          (input)="verifyEmailCode()"
        />

        @if (registerForm.controls.email_code.disabled) {
          <img
            src="/icons/auth/check_green.svg"
            class="absolute right-3 top-1/2 -translate-y-1/2"
          />
        }
      </div>
    }
    @if (codeError()) {
      <app-error-message>
        {{ codeError() | transloco }}
      </app-error-message>
    }

    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <app-combobox
        class="absolute w-[90px] sm:w-[100px]"
        [customClass]="
          'rounded-r-none min-h-[44px] rounded-2xl border bg-white pl-3 pr-1.5 py-2.5 text-sm font-normal text-neutral-400 sm:text-base border-r-0'
        "
        [items]="phoneCodes"
        [selectedValue]="'995'"
        (selectedValueChange)="
          registerForm.controls.phone_code.setValue($event)
        "
        [searchPlaceholder]="'...'"
      />

      <div class="relative ml-auto w-[calc(100%-90px)] sm:w-[calc(100%-100px)]">
        <app-input
          [customClass]="'rounded-l-none'"
          [control]="registerForm.controls.phone"
          type="number"
          [placeholder]="'AUTH.phone' | transloco"
          [error]="submitted && registerForm.controls.phone.invalid"
        />

        <app-get-code class="absolute right-1.5 top-1/2 -translate-y-1/2" />
      </div>
    </div>

    <div class="space-y-3">
      <div class="flex flex-col justify-between gap-4 sm:flex-row">
        <div class="relative w-full">
          <app-input
            [control]="registerForm.controls.password"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'AUTH.password' | transloco"
            [error]="submitted && registerForm.controls.password.invalid"
          />

          <app-password-toggle (showPasswordChange)="showPassword = $event" />
        </div>
        <div class="relative w-full">
          <app-input
            [control]="registerForm.controls.repeatPassword"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'AUTH.repeat_password' | transloco"
            [error]="
              submitted &&
              (registerForm.controls.repeatPassword.invalid ||
                registerForm.hasError('passwordMismatch'))
            "
          />

          <app-password-toggle (showPasswordChange)="showPassword = $event" />
        </div>
      </div>

      <p class="subtext flex items-center gap-2 text-xs sm:text-sm">
        @if (
          registerForm.controls.password.value &&
          registerForm.controls.password.value.length >= 6
        ) {
          <img src="/icons/circleCheckGreen.svg" width="18" height="18" />
        } @else {
          <img src="/icons/circleCheck.svg" width="18" height="18" />
        }

        {{ "AUTH.password_requirement" | transloco }}
      </p>
    </div>

    <div class="mt-3 flex items-center gap-2">
      <div
        class="flex h-5 w-5 cursor-pointer items-center justify-center rounded-md border border-neutral-200"
        [ngClass]="termsChecked ? 'border-none bg-lime-400' : ''"
        (click)="toggleTerms()"
      >
        @if (termsChecked) {
          <img src="/icons/circleCheckGreen.svg" width="18" height="18" />
        }
      </div>

      <p class="subtext text-sm sm:text-base">
        {{ "AUTH.agree" | transloco }}
        <a routerLink="/terms" class="text-neutral-900 underline">{{
          "AUTH.terms" | transloco
        }}</a>
      </p>
    </div>

    @if (formError()) {
      <app-error-message>
        {{ formError() | transloco }}
      </app-error-message>
    }

    <button
      type="submit"
      class="flex max-h-[44px] items-center justify-center rounded-2xl bg-yellow-400 px-5 py-2.5 text-base font-semibold text-neutral-900"
      [ngClass]="loading() ? 'animate-pulse' : ''"
      [disabled]="loading()"
    >
      @if (!loading()) {
        {{ "AUTH.register" | transloco }}
      } @else {
        <app-spinner
          [size]="28"
          [textColor]="'text-white'"
          [fillColor]="'fill-orange-500'"
        />
      }
    </button>

    <a
      routerLink="../login"
      class="text-center text-sm font-normal text-neutral-400"
    >
      {{ "AUTH.have_account" | transloco }}
      <span class="text-orange-500">
        {{ "AUTH.login" | transloco }}
      </span>
    </a>
  </app-auth-form>
} @else {
  <div
    class="relative flex w-full max-w-[550px] flex-col items-center gap-4 rounded-3xl py-8 sm:gap-6 sm:bg-white sm:px-10 sm:shadow-sm"
  >
    <svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="56" height="56" rx="12" fill="#FFE9D4" />
      <path
        d="M23.5804 27.3724c-.2929-.2929-.7678-.2929-1.0607 0-.2928.2929-.2928.7678 0 1.0607l1.0607-1.0607Zm2.7695 3.8302-.5303.5303c.2929.2929.7677.2929 1.0606 0l-.5303-.5303Zm7.13-6.0694c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7678-.2929-1.0607 0l1.0607 1.0606ZM37.75 28c0 5.3848-4.3652 9.75-9.75 9.75v1.5c6.2132 0 11.25-5.0368 11.25-11.25h-1.5ZM28 37.75c-5.3848 0-9.75-4.3652-9.75-9.75h-1.5c0 6.2132 5.0368 11.25 11.25 11.25v-1.5ZM18.25 28c0-5.3848 4.3652-9.75 9.75-9.75v-1.5c-6.2132 0-11.25 5.0368-11.25 11.25h1.5ZM28 18.25c5.3848 0 9.75 4.3652 9.75 9.75h1.5c0-6.2132-5.0368-11.25-11.25-11.25v1.5Zm-5.4803 10.1831 3.2999 3.2998 1.0606-1.0607-3.2998-3.2998-1.0607 1.0607Zm4.3605 3.2998 6.5997-6.5997-1.0607-1.0606-6.5996 6.5996 1.0606 1.0607Z"
        fill="#FD590D"
      />
    </svg>
    <h1 class="mb-4 text-center text-2xl font-bold sm:text-3xl">
      ანგარიში შეიქმნა
    </h1>

    <a
      routerLink="/profile"
      class="max-h-[44px] w-full rounded-2xl bg-yellow-400 px-5 py-2.5 text-center text-base font-semibold text-neutral-900"
      >პროფილი</a
    >
    <a
      routerLink="/"
      class="max-h-[44px] w-full rounded-2xl border border-neutral-200 bg-white px-5 py-2.5 text-center text-base font-semibold text-neutral-900"
      >მთავარი გვერდი</a
    >
  </div>
}
