<a
  routerLink=""
  class="flex w-[300px] flex-col gap-3 rounded-[20px] border border-neutral-100 bg-white pb-5"
>
  <app-image
    [customClass]="'h-[200px] w-full object-cover rounded-t-[20px]'"
    src="https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/10-intelligent-dog-breeds/golden-retriever-tongue-out.jpg?h=430&w=710&hash=7FEB820D235A44B76B271060E03572C7"
  />

  <div class="space-y-2.5 px-4">
    <h1 class="text-lg font-medium">ოქროსფერი რეტრივერი</h1>

    <div class="flex gap-2">
      <p class="rounded-2xl bg-yellow-100 px-3 py-1 text-sm font-normal">
        კურდღელი
      </p>
      <p class="rounded-2xl bg-yellow-100 px-3 py-1 text-sm font-normal">
        4 თვის
      </p>
      <p class="rounded-2xl bg-yellow-100 px-3 py-1 text-sm font-normal">
        გოგო
      </p>
    </div>
  </div>

  <div class="mx-4 h-px bg-neutral-100"></div>

  <div class="flex justify-between px-4">
    <p
      class="mt-1.5 flex items-center gap-1 text-sm font-semibold text-orange-500"
    >
      <img src="/icons/post-card/location.svg" />
      თბილისი
    </p>

    <h1 class="text-lg font-bold">430.00₾</h1>
  </div>
</a>
