<nav
  class="fixed inset-0 z-10 flex h-[72px] select-none items-center border-b border-neutral-200 bg-neutral-100 sm:h-20"
>
  <div class="container mx-auto flex items-center justify-between px-4 lg:px-0">
    <a routerLink="/">
      <img
        src="/logoFull.svg"
        alt="Logo"
        width="135"
        height="31"
        class="hidden sm:block"
      />
      <img
        src="/logoMin.svg"
        alt="Logo"
        width="45"
        height="31"
        class="min-w-[45px] sm:hidden"
        loading="lazy"
      />
    </a>

    <div class="flex items-center gap-5">
      <a
        routerLink="/upload"
        class="hidden items-center justify-center gap-2 rounded-2xl border-2 border-orange-500 bg-white px-3 py-2.5 text-sm font-bold text-orange-500 sm:flex"
      >
        <img src="/icons/plusOrange.svg" width="20" height="20" alt="plus" />
        {{ "NAV.upload" | transloco }}
      </a>
      <div class="hidden h-6 w-px bg-neutral-300 sm:flex"></div>

      @if (authService.loggedIn) {
        <button type="button">
          <img
            src="/icons/favorite.svg"
            width="22"
            height="22"
            alt="Favorite"
          />
        </button>
        <button type="button">
          <img src="/icons/cart.svg" width="22" height="22" alt="Cart" />
        </button>

        <div class="min-h-[22px] min-w-[22px]">
          @defer {
            <app-user-menu />
          } @placeholder {
            <app-spinner
              [size]="22"
              [textColor]="'text-white'"
              [fillColor]="'fill-sky-500'"
            />
          }
        </div>
      } @else {
        <a
          routerLink="/auth/login"
          class="flex h-10 items-center justify-center rounded-2xl bg-yellow-400 px-3.5 py-2.5 text-sm font-semibold sm:h-11 sm:px-5 sm:py-2.5"
        >
          {{ "NAV.login" | transloco }}
        </a>
      }

      <app-language-selector />
    </div>
  </div>
</nav>
