<router-outlet />
<!--<div-->
<!--  class="relative flex min-h-screen items-center justify-center overflow-hidden bg-neutral-50 px-6 text-neutral-900"-->
<!-->-->
<!--  <img-->
<!--    src="/bgPattern.svg"-->
<!--    class="absolute inset-0 h-full w-full object-cover"-->
<!--  />-->
<!---->
<!--  <div class="relative z-20 space-y-8 text-center">-->
<!--    <div class="mb-12 transform transition-all duration-300 hover:scale-105">-->
<!--      <img-->
<!--        src="/logoFull.svg"-->
<!--        alt="Logo"-->
<!--        class="mx-auto w-40 transition-all duration-300 hover:w-44 lg:w-48"-->
<!--      />-->
<!--    </div>-->
<!---->
<!--    <div class="space-y-6">-->
<!--      <h1-->
<!--        class="text-transparent bg-gradient-to-r from-orange-400 to-orange-600 bg-clip-text text-5xl font-bold md:text-6xl"-->
<!--      >-->
<!--        Coming Soon-->
<!--      </h1>-->
<!---->
<!--      <div class="space-y-4">-->
<!--        <div-->
<!--          class="mx-auto h-1 w-24 rounded-full bg-gradient-to-r from-orange-300 to-pink-400 opacity-80"-->
<!--        ></div>-->
<!--        <p-->
<!--          class="mx-auto max-w-2xl text-xl leading-relaxed text-neutral-600 md:text-2xl"-->
<!--        >-->
<!--          We are working hard to bring you<br class="hidden md:block" />-->
<!--          something amazing. Stay tuned-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
