<footer
  class="m-auto mt-auto flex w-full max-w-[1800px] flex-col gap-10 px-5 py-12 sm:items-center sm:px-20"
>
  <img src="/logoFull.svg" alt="Logo" class="w-16 sm:w-20" />

  <div class="grid grid-cols-2 gap-8 text-sm sm:flex sm:text-base">
    <a routerLink="/services">{{ "FOOTER.services" | translate }}</a>
    <a routerLink="/contact">{{ "FOOTER.contact" | translate }}</a>
    <a routerLink="/help">{{ "FOOTER.help" | translate }}</a>
    <a routerLink="/terms">{{ "FOOTER.terms" | translate }}</a>
  </div>

  <div class="h-px w-full bg-neutral-200"></div>

  <div class="flex w-full justify-between">
    <div class="flex gap-4">
      <img src="/icons/facebook.svg" alt="Facebook" class="h-6" />
      <img src="/icons/instagram.svg" alt="Instagram" class="h-6" />
    </div>

    <p class="text-sm font-normal text-neutral-500 sm:text-base">
      © 2024 FURITO
    </p>
  </div>
</footer>
