<div class="container m-auto mb-24 space-y-12 px-4 py-8 sm:px-0">
  <div class="flex flex-col items-center justify-between xl:flex-row">
    <div class="relative space-y-5 text-center xl:text-left">
      <h1 class="text-4xl font-bold leading-tight xl:text-6xl">
        {{ "HOME.main_text" | translate }} <br />
        <span class="font-bold text-orange-500">{{
          "HOME.main_text_orange" | translate
        }}</span>
      </h1>
      <p class="subtext max-w-[485px] xl:text-lg">
        {{ "HOME.main_subtext" | translate }}
      </p>

      <form [formGroup]="searchForm" (ngSubmit)="search()" class="space-y-6">
        <div class="relative">
          <img
            src="/icons/home/search.svg"
            class="absolute left-4 top-1/2 -translate-y-1/2"
          />
          <input
            type="text"
            formControlName="text"
            [placeholder]="'HOME.search' | translate"
            class="h-[60px] w-full rounded-3xl border-[1.5px] border-yellow-300 px-1.5 py-2.5 pl-14 font-normal text-neutral-900 outline-none placeholder:text-neutral-400 sm:text-lg"
          />
        </div>

        <button
          type="submit"
          value="ძებნა"
          class="flex h-[60px] w-full items-center justify-center rounded-3xl bg-yellow-400 px-5 py-3 font-bold sm:text-lg"
        >
          {{ "HOME.submit" | translate }}
        </button>
      </form>

      <app-image
        src="/icons/home/curlyArrow.svg"
        width="114"
        height="88"
        loading="lazy"
        class="absolute -right-36 top-40 hidden xl:block"
      />
    </div>

    <app-image src="/home/pets.webp" width="500" height="500" loading="lazy" />
  </div>

  <div class="space-y-12 py-16 text-center">
    <div class="space-y-5">
      <h1 class="text-2xl font-bold sm:text-4xl">
        {{ "HOME.services" | translate }}
      </h1>
      <p class="subtext text-base sm:text-lg">
        {{ "HOME.services_subtext" | translate }}
      </p>
    </div>

    <div class="grid grid-cols-2 gap-6 xl:grid-cols-3">
      @for (service of SERVICES; track $index) {
        <a
          [routerLink]="service.url"
          class="flex flex-col items-start gap-4 rounded-[20px] border border-neutral-100 bg-white p-4 text-left sm:flex-row sm:items-center"
        >
          <div [class]="service.color" class="rounded-2xl p-3 sm:p-3.5">
            <img [src]="service.icon" />
          </div>
          <div>
            <h1 class="font-semibold sm:text-lg">
              {{ service.title | translate }}
            </h1>
            <p class="subtext text-xs sm:text-sm">
              {{ service.subtext }}
            </p>
          </div>
        </a>
      }
    </div>
  </div>

  <div
    class="relative left-[50%] right-[50%] -mx-[50vw] w-screen space-y-20 bg-neutral-100 py-16 text-center"
  >
    <div class="m-auto max-w-72 space-y-5 sm:max-w-full">
      <h1 class="text-2xl font-bold sm:text-4xl">
        {{ "HOME.categories" | translate }}
      </h1>
      <p class="subtext text-base sm:text-lg">
        {{ "HOME.categories_subtext" | translate }}
      </p>
    </div>

    <div
      class="container m-auto flex snap-x snap-mandatory justify-between gap-6 overflow-x-auto px-4 pt-10 [-ms-overflow-style:none] [scrollbar-width:none] sm:px-0 [&::-webkit-scrollbar]:hidden"
    >
      @for (category of CATEGORIES; track $index) {
        <a
          [routerLink]="['/search']"
          [queryParams]="{ animal: category.animal }"
          [class]="category.color"
          class="relative flex h-60 w-[236px] flex-none snap-center flex-col-reverse rounded-[20px] p-3"
        >
          <app-image
            [src]="category.icon"
            loading="lazy"
            class="absolute left-1/2 top-[-44px] h-auto w-[184px] -translate-x-1/2"
          />
          <img [src]="category.shapes" loading="lazy" class="absolute top-7" />

          <div
            class="flex items-center justify-between rounded-2xl bg-white p-3"
          >
            <div class="text-left">
              <h1 class="font-semibold sm:text-lg">
                {{ category.animal_translate | translate }}
              </h1>
              <p class="subtext text-sm">20 განცხადება</p>
            </div>

            <img src="/icons/home/arrow_right.svg" loading="lazy" />
          </div>
        </a>
      }
    </div>
  </div>

  <div class="space-y-12">
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold sm:text-4xl">ახალი განცხადებები</h1>
      <a
        routerLink="/search"
        class="hidden rounded-2xl bg-yellow-200 px-4 py-3 font-medium sm:block"
        >ყველას ნახვა (550)</a
      >
    </div>

    <div
      class="-mr-4 flex snap-x snap-mandatory justify-between gap-4 overflow-x-auto [-ms-overflow-style:none] [scrollbar-width:none] sm:gap-6 [&::-webkit-scrollbar]:hidden"
    >
      @for (item of [].constructor(4); track $index) {
        <app-post-card class="snap-center" />
      }
    </div>
  </div>
</div>
