<div
  class="mt-28 flex w-full flex-col items-center justify-center gap-8 text-center"
>
  <app-image src="/404.webp" width="286" height="236" />

  <div class="space-y-3">
    <h1 class="text-2xl font-bold sm:text-3xl">
      {{ "404.title" | translate }}
    </h1>
    <p class="subtext text-sm sm:text-base">{{ "404.subtext" | translate }}</p>
  </div>

  <a
    routerLink=""
    (click)="back()"
    class="rounded-2xl bg-yellow-400 px-5 py-3 text-sm font-bold sm:text-base"
    >{{ "404.back" | translate }}</a
  >
</div>
