<div class="space-y-6 sm:space-y-12">
  <div class="space-y-6">
    <button
      type="button"
      class="flex items-center gap-2 text-neutral-800"
      (click)="location.back()"
    >
      <img src="/icons/profile/arrow-left.svg" />
      {{ "404.back" | transloco }}
    </button>
    <h1 class="text-xl font-bold sm:text-3xl">
      {{ "ORGS.FORM.add_org" | transloco }}
    </h1>
  </div>

  <form
    class="space-y-6 [&>*:last-child]:gap-3 [&>*]:flex [&>*]:flex-col [&>*]:gap-5 [&>*]:sm:gap-14 [&>*]:lg:flex-row"
    [formGroup]="profileForm"
    (ngSubmit)="submitForm.emit()"
  >
    <ng-content />
  </form>
</div>
