<div
  class="w-[342px] space-y-4 rounded-2xl border border-neutral-100 p-5 shadow-xs"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <app-image
        [src]="getLogoUrl(org.id, org.org_code)"
        customClass="h-12 w-12 rounded-full"
        width="48"
        height="48"
      />
      <div>
        <h1 class="font-semibold">{{ org.org_name }}</h1>
        <p class="subtext text-sm">{{ org.org_code }}</p>
      </div>
    </div>
    <div class="relative flex items-center gap-2">
      <button
        type="button"
        [ngClass]="[
          'relative h-5 w-9 rounded-xl',
          disabled() ? 'bg-neutral-300' : 'bg-orange-500',
        ]"
        (click)="disableOrg()"
      >
        <div
          [ngClass]="[
            'absolute top-1/2 h-4 w-4 -translate-y-1/2 rounded-full bg-white shadow-sm',
            'transform transition-transform duration-200 ease-in-out',
            disabled() ? 'translate-x-0.5' : 'translate-x-[18px]',
          ]"
        ></div>
      </button>
      <!--<img src="/icons/profile/toggle-on.svg" width="36" height="20" />-->
      <img src="/icons/profile/arrow-right.svg" width="20" height="20" />
    </div>
  </div>

  <div class="h-px bg-neutral-100"></div>

  <div class="space-y-2.5">
    <div class="flex items-center">
      <img src="/icons/profile/location.svg" class="mr-2.5" />
      <p class="truncate font-normal">
        {{ org.address }}
      </p>
    </div>
    <div class="flex items-center">
      <img src="/icons/profile/phone.svg" class="mr-2.5" />
      <p class="font-normal">{{ org.phone }}</p>
    </div>
    <div class="flex items-center">
      <img src="/icons/profile/email.svg" class="mr-2.5" />
      <p class="truncate font-normal">{{ org.email }}</p>
    </div>
  </div>
</div>
